.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.top_navbar {
  width: 100%;
  min-height: 70px;
  height: 10%;
  background-color: orange;
  border-bottom: 2px black solid;
  padding: 0;
  margin: 0;
}

.top_navbar h2 {
  margin: 0;
  float: left;
  line-height: 30px
}

.login_or_user_link {
  float: right;
  line-height:  30px;
  margin-right: 20px;
  padding-right: 30px;
}
