<div class="container">
  <h3>Login</h3>
    <form action="/login" method="post">
      <label>Username: </label><input type="text" name="user[name]" placeholder="Enter a username"><br>
      <label>Password: </label><input type="password" name="user[password]" placeholder="Password">
      <input type="submit" value="Login">
    </form>


  <h3>Sign Up</h3>
    <form action="/register" method="post">
      <label>Username: </label><input type="text" name="user[name]" placeholder="Enter a username"><br>
      <label>Password: </label><input type="password" name="user[password]" placeholder="Password">
      <input type="submit" value="Sign Up">
    </form>
</div>